.container {
    max-width: 22em;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 25em;
    max-width: 22em;
    position: relative;
    display: block;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 11px;
    .upperSide {
        margin-top: 1em;
        background-color: #8BC34A;
        height: 15em;
        display: block;
        color: #fff;
        border-top-right-radius: 11px;
        border-top-left-radius: 11px;
        .logo {
            margin-left: 1.5em;
        }
    }
    .lowerSide {
        padding: 2em 2em 5em 2em;
        background: #fff;
        display: block;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}