.container {
    color: var(--secondary);
    .title {
        margin-left: 3vh;
        margin-top: 1.6em;
        font-weight: 300;
        font-size: 20px;
    }
    .content {
        margin-left: 3vw;
    }
}