.container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 650px;
    .elements {
        max-width: 150px;
        min-width: 160px;
        min-height: 160px;
        margin-left: 100px;
        margin-bottom: 40px;
        border: 1px solid var(--secondary);
        border-radius: 5px;
        flex: 1 1 30%;
        text-align: center;
        padding: 0.2em;
        p {
            font-size: 15px;
            font-weight: 1000;
            color: var(--secondary);
        }
        .candidate {
            font-size: 40px;
        }
        .max {
            font-size: 20px;
        }
    }
}