html:root {
    --background: #379683;
    --text: #ffffef;
    --secondary: #05386b;
    --accent: #F94E87;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather';
    font-style: normal;
    // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: var(--text);
    background: var(--background);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

// @media (prefers-color-scheme: dark) {
//     html {
//         color-scheme: dark;
//     }
//     body {
//         color: white;
//         background: black;
//     }
// }